.home{
    background-color: black;
    margin: auto; 
    margin-top: 9px; 
    height: 600px; 
    width: 98%;
    border-radius: 15px 15px 0px 0px;
}

.navigator{
    height: 80px;
}

.caixa{
    background-color: transparent;
    border-style: solid; 
    border-color: white; 
    border-width: 6px;
    height: 120px;
    width: 400px;
    margin: auto;
    margin-top: 180px;
    margin-left: 500px;
    padding: 30px;
}

.nome{
    color: white;
    text-align: center;
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.home2{
    background-color: white;
    height: 500px;
    width: 1300px; 
    margin: auto; 
    margin-top: -120px;
    margin-bottom: 30px; 
    border-radius: 30px;
}

.githubButton{
    padding-top: 20px;
    width: 50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 40px;
}

